.card-wrapper {
  height: 40px;
  width: 40px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  perspective: 100px;
  border-radius: 5px;
  transition: .5s;
  font-weight: bold;
}

/* .card-wrapper:not(.select-deck-card-wrapper.selected-deck):hover {
  box-shadow: 5px 5px black;
  transform: translate(-5px, -5px);
} */
.card-wrapper:hover,
.card-wrapper.select-deck-wrapper:hover {
  box-shadow: 5px 5px black;
  transform: translate(-5px, -5px);
}
.card-wrapper.select-deck-card-wrapper.selected-deck:hover {
  box-shadow: 0 0px black;
  transform: translate(0px, 0px);
  transition: 0s;
}


.content {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: .5s;
  transform-style: preserve-3d;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 black;
}

.card-back {
  background: lightslategray;
  transition: .3s;

}

.card-back:hover {
  background: lightblue;
}

.card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  background: white;
}

.card-back, .card-front {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
}

.card-wrapper.selected .content {
  transform: rotateY(180deg);
  /* border: 1px solid red; */
  transition: transform .5s;
}

.card-wrapper.selected {
  box-shadow: 0 0px black;
  transform: translate(0px, 0px);
  transition: 0s;
}

.cleared {
  pointer-events: none;
}

.card-wrapper.cleared .content{
  transform: rotateX(180deg) scale(0);
  transition: 1s;
}



/* DECK SELECTION */

.selected-deck .content {
  animation: spin 3s .1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg)
  }
  50% {
    transform: rotateY(180deg)
  }
  100% {
    transform: rotateY(360deg)
  }
}

.spin .content {
  animation: spin 2s linear infinite;
}